@using Aqua.BTCPayPlugin
@using Aqua.BTCPayPlugin.Views
@using BTCPayServer.Abstractions.Extensions
@model Aqua.BTCPayPlugin.Controllers.ImportWalletsViewModel
@{
    ViewData.SetActivePage(PluginNavPages.AquaImportWallets, "Import Wallets from Aqua");
}
<h1>@ViewData["Title"]</h1>

@if (Model.QrCode == null)
{
    <form id="walletSettingsForm" method="post">
        <div class="form-group my-4">
            <div class="d-flex align-items-center">
                <input asp-for="BtcChain" type="checkbox" class="btcpay-toggle me-3"/>
                <label asp-for="BtcChain" class="form-check-label"></label>
            </div>
            <span asp-validation-for="BtcChain" class="text-danger"></span>
        </div>
        @Html.HiddenFor(a=>a.LiquidSupportedOnServer)
        @if (!Model.LiquidSupportedOnServer)
        {
            <div class="form-group my-4">
                <label class="form-check-label text-danger">Liquid not supported on the server</label>
            </div>
        }
        <div class="form-group my-4">
            <div class="d-flex align-items-center">
                <input asp-for="BtcLn" type="checkbox" class="btcpay-toggle me-3" disabled="@(!Model.LiquidSupportedOnServer)" />
                <label asp-for="BtcLn" class="form-check-label"></label>
            </div>
            <span asp-validation-for="BtcLn" class="text-danger"></span>
        </div>
        <div class="form-group my-4">
            <div class="d-flex align-items-center">
                <input asp-for="LiquidChain" type="checkbox" class="btcpay-toggle me-3" disabled="@(!Model.LiquidSupportedOnServer)" />
                <label asp-for="LiquidChain" class="form-check-label"></label>
            </div>
            <span asp-validation-for="LiquidChain" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary" text-translate="true">Submit</button>
    </form>
}
else
{
    <p>Scan this QR code with Aqua wallet</p>
    <p>
        <vc:qr-code data="@(Model.QrCode)" />
    </p>
    @if (AquaPlugin.IsDevMode)
    {
        <p>
            <form action="@Model.QrCode" method="post">
                <textarea name="json" rows="5" cols="100">
                    {"BtcChain":{
                            "Xpub": "tpubDDPCDkBPaFE5PDhs5NJDb38RKzDuuRcMhcGgGHSdVFFPiX13R1BZCBm3xS48zJRkoqqZEEixpjViweQqSAfDRXHZV6gEeWoGDUnEqQZ42Gg",
                            "DerivationPath": "m/84'/0'/1'/0",
                            "Type": "P2WPKH"
                        },
                    "LiquidChain":{
                        "Xpub": "tpubD6NzVbkrYhZ4YS6KzQNC9CwKCxcpMFuFfg1uHRuYjFaKMN6gyNnWJ67A349DkZQnrSBLEU7mmrzXH6hrCvXzJzRU6HbK8YGS4D9qCo4AKJ2",
                        "BlindingKey": "e2eb4f6a06282febfb3c1fb3fe58fa73c833c564b8810e252a9fe9582454d4e4",
                        "DerivationPath": "m/49'/1776'/1'/0",
                        "Type": "P2SH_P2WPKH"
                    }
                    }
                </textarea>
                <button type="submit" class="btn btn-primary" text-translate="true">Test Setup</button>
            </form>
        </p>
    }
}